.hide {
  display: none;
}

.show{
  display: flex;
}
/* can add and remove classes to show and hide sections on the screen.*/

.header {
  padding: 1%;
  background-color: rgb(158, 240, 255);
  border-bottom: 2px solid black;
}

.header ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;


}

.header ul li a{
  font-size: 16px;
  text-decoration: none;
  color: black;
  margin-right: 16px;
}

.container {
  display: flex;
  margin: 0 auto;
  padding: 60px;
  background-color: bisque;
  border: 2px solid black;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 5px;
  height: 500px;
  width: 600px;
  margin-top: 20px;
  line-height: 20px;
}



.start-quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-quiz h2{
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: 40px;
}

#startQuiz {
  margin-top: 30px;
}

.container .questions {
  display: none;

}

.questions h3 {
  font-size: 24px;
  font-weight: bold; 
  line-height: 30px;
}

.questions li {
  display:flex;
  justify-content: center;
  margin-bottom: 25 px;
  background-color: rgb(158, 240, 255);
  box-shadow: 5px 10px 18px #888888;
  border: 2px solid black;
  border-radius: 5px;
  height: 30px;
  align-items: center;
  align-content: space-around;
}

#option1 {
  margin-top: 20px;
}
#option2 {
  margin-top: 20px;
}
#option3 {
  margin-top: 20px;
}
#option4 {
  margin-top: 20px;
}

.questions li:hover{
  background-color:rgb(101, 226, 248); 
}

.questions li:active {
  background-color: rgb(85, 209, 231);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.container {
  display: flex;
  margin: 0 auto;
  padding: 60px;
  background-color: bisque;
  border: 2px solid black;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 5px;
  height: 500px;
  width: 600px;
  margin-top: 20px;
  line-height: 20px;
}
#results {
  display: none;
}



@media screen and (max-width: 650px){
  .container {
    width: 90%;
    height: 100%;
  }
}